---
title: 'Home'
---
<%
  #content_for :page_title, "Welcome #{data.site.name}"
  content_for :page_heading, "Home"
  content_for :page_description, "This index page contains access to all the materials in Campaign Buddy"
%>
<ul>
  <li>Players</li>
  <li>Adventurers (PCs)</li>
  <li><a href="npcs/">Non-player Characters (NPCs)</a></li>
  <li>Locations</li>
  <li>History</li>
  <li>Sessions</li>
  <li>Encounters</li>
</ul>

